*.gff
*.gtf
*.bai
*.bam
*.bed
*.fasta
*.fasta.*
*.fastq
*.genome
*.gz
*.html
*.ids
*.json
*.log
*.vcf
*.txt
*.png
*.pdf
*~
10_log_files/*
11_metrics/*
02_reference/*
03_raw_bedGraphs/*
04_filtered_bedGraphs/*
05_bed_files/*
07_jackknife_results/*
07_jackknife_results_maternal/*
08_RDAs/*
09_Kyle_DMRs/*
10_methylDB/*
samples_jackknife_family/*
samples_jackknife_maternal/*
tmpdir/*
*.log
